.navElement {
  font-size: 14px;
  margin-right: 150px !important;
}
.navBar {
  margin-left: 150px !important;
}
.navbar {
  background-color: #00324e !important;
}

.login{
  cursor: pointer;
}
.register{
  cursor: pointer;
}
.home{
  cursor: pointer;
}
.dashboard{
  cursor: pointer;
}
.profile{
  cursor: pointer;
}
.blog{
  cursor: pointer;
}
.logout{
  cursor: pointer;
}