.form{
    margin-left: 150px;
    margin-right: 150px;
}
div{
    margin-top: 10px;
}
label{
    margin-bottom: 0px;
}
.submit{
    background-color: #00324e;
    color: white;
}
.messages {
    margin-left: 150px;
    margin-right: 150px;
  }
  