.blog{
    margin-left: 150px !important;
    margin-right: 150px !important;
}
.back{
  background-color: #ffbf00 !important;    
  color: white;
}
.submit{
  background-color: rgb(84, 196, 196) !important;
  color: white;
}
label{
    margin-bottom: 0px;
}
