<div class="container">
    <div class="messages">
        <p-messages [(value)]="msgs"></p-messages>
    </div>
    <form class="form py-3" [formGroup]="loginForm" (submit)='login()'>
        <div>
            <label for="login">
                <h4>Login</h4>
            </label>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div>
            <button type="submit" class="btn btn login">Login</button>
        </div>
    </form>
</div>