<div class="container">
    <div class="messages">
        <p-messages [(value)]="msgs"></p-messages>
        <!-- <p-toast severity="success"></p-toast> -->
    </div>
    <form class="form py-3">
        <div>
            <label for="login">
                <h4>Login</h4>
            </label>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" class="form-control">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control">
        </div>
        <div>
            <button type="button" class="btn btn login" (click)="login()">Login</button>
        </div>
    </form>
</div>