form {
  margin-left: 150px;
  margin-right: 150px;
}
.login {
  background-color: #00324e;
  color: white;
}
div {
  margin-top: 10px;
}
label {
  margin-bottom: 0px;
}
.messages {
  margin-left: 150px;
  margin-right: 150px;
}
