.jmbotron {
  margin-left: 150px !important;
  margin-right: 150px !important;
  padding: 50px !important;
}
.register {
  background-color: #00324e !important;
  color: white !important;
}
.login {
  color: white !important;
  background-color: #778e87 !important;
}
.text{
    color: #00324e !important;
}
